.container {
    margin-top: 50px;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.searchBox {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 500px;
}

input {
    padding: 15px 20px 15px 45px;
    width: 100%;
    font-size: 16px;
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 8px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    outline: none;
}

#search-icon {
    position: absolute;
    left: 15px;
    font-size: 18px;
    color: gray;
}

.filterBox select {
    padding: 15px 20px;
    width: 100%;
    max-width: 250px;
    font-size: 16px;
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 8px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    outline: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .searchBox, .filterBox {
        width: 100%;
    }

    input, select {
        width: 100%;
    }
}
